/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * P.I. implementation: © Fabian Neumann <fabian.neumann@posteo.de>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * fabiantest.css
 *
 * fabiantest stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (fabiantest_fabiantest.tpl), and to HTML elements you create dynamically
    (in fabiantest.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/


@import url('https://fonts.googleapis.com/css?family=Copse');


.whiteblock {
    border-radius: 6px;
    margin-bottom:6px;
    margin-top:6px;
}

.whiteblock h3,
.whiteblock h4 {
    font-family:Copse, Roboto, Arial, sans-serif;
    color:#222;
    margin-top:0;
    text-transform: uppercase;
    text-shadow: 0 1px #fff;
}
.whiteblock h4 {
    font-size: .8rem;
}

/* #board {
    position: relative;
    background-image: url(img/board.jpg);
    height:900px;
    width:1173px;
} */

#board {
    position: relative;
    background-image: url(img/board_big.jpg);
    height: 740px;
    width: 980px;
    background-size: 1000px;
    background-position: -10px -12px;
    margin:.5em .25em;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.66);
    border: solid 2px #333;
    border-radius: 3px;
}

.disc {
    z-index:200;
    position: absolute;
    height:25px;
    width:25px;
    background-color: #000;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-width: 0 1px 1px 0;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.disc.blue { background-color:hsl(230, 100%, 55%); }
.disc.green { background-color:#0c0; }
.disc.purple { background-color:#e0e; }
.disc.red { background-color:#f30; }
.disc.yellow { background-color:#fe0; }

.investigator {
    z-index:100;
    position: absolute;
    height:50px;
    width:50px;
    background-color: darkred;
    border: solid 0 rgba(0, 0, 0, 0.33);
    border-width: 0 1px 1px 0;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

/* Location containers */
.loccont {
    position: absolute;
    height:114px;
    width:205px;
}
/* Location slots */
.locslot {
    position: absolute;
    height:64px;
    width:64px;
    bottom:0;
    /* box-shadow: 0 0 0 4px rgba(255, 0, 255, 0.658); */
}
.locslot.location_slot { left:34%; }
.locslot.crime_slot { right:0; }

.locslot .stockitem {
    background-size: 448px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);
    border: solid 0px #00000066;
}
.locslot .stockitem.fake_tile {
    box-shadow:none;
    background:none;
}
.locslot .highlighted {
    border-width:1px !important;
    box-shadow: 0 0 4px 6px rgb(255, 255, 255) !important;
    cursor: pointer !important;
}
.locslot .stockitem_selected {
    border-width:1px !important;
    box-shadow: 0 0 4px 6px rgb(0, 0, 255) !important
}

.loc_tokens {
    position: absolute;
    height:50px;
    width:272px;
    text-align: center;
    background-color: #ffffff33;
}
.loc_tokens.loc_chinatown {
    top: 394px;
    left: 30px;
}
.loc_tokens.loc_forestpark {
    top: 52px;
    left: 596px;
    transform: rotate(2.5deg);
}
.loc_tokens.loc_trocadero {
    top:220px;
    left:452px;
    transform: rotate(1deg);
}

.loc_tokens .investigator {
    position:relative;
    display:inline-block;
}
.loc_tokens .investigator:last-of-type {
    margin-right:0;
}


.cube {
    z-index:300;
    position: absolute;
    height:15px;
    width:15px;
    background-color: #000;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-width: 0 1px 1px 0;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.cube.blue { background-color:hsl(230, 100%, 55%); }
.cube.green { background-color:##0c0; }
.cube.purple { background-color:#e0e; }
.cube.red { background-color:#ff3300; }
.cube.yellow { background-color:#fe0; }

.card,
#evidence .stockitem,
#evidence_discard .stockitem,
#playerdisplays .stockitem,
#myevidence .stockitem,
#myhand .stockitem {
    box-shadow:2px 2px 3px 0px rgba(0, 0, 0, 0.66);
    border-radius: 6px;
}

#myhand-wrap { float:left; height:180px; width: 316px; margin-right:.5em; }
#myevidence-wrap { float:left; height:180px; width: 700px; }
